 /*--------------------- Fonts --------------------------------------------- */

 @import url("https://use.typekit.net/luk6ots.css");
 @import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500&family=PT+Serif:wght@400;700&display=swap');



/*---------------------- Universal style accross all pages ----------------- */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #E3F1F2;
    font-family: sans-serif;
    font-size: 16px;
    position: relative;
}

p {
    margin: 0;
}

.page-banner {
    padding: 60px 0 0;
}

.new-line {
    margin-top: 30px;
}

.asterisk {
    font-size: 15px!important;
    margin-top: 30px;
    text-align: center;
    font-family: 'Exo', sans-serif;
}


@media screen and (min-width:768px) {
    .asterisk {
    font-size: 20px!important;
    }

}

/*---------------------- Landing Page -------------------------------------- */

#landing-pg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/hero-image-mobile.png') center center / cover no-repeat fixed;
}

#landing-pg-container {
    text-align: center;

}

#landing-text {
    font-family: 'neon-stream', sans-serif;
    font-size: 60px;
    color: #F2E871;
    text-shadow: 10px 10px 40px #EFEAE2D6;
    margin-bottom: 50px;
    margin-top: 20%; 
}


h1#landing-text::before, h1#landing-text::after {
    content: '';
    height: 0.07em;
    width: 70%;
    background-color: #A7EBDC;
    border-radius: 5px;
    display: block;
    margin: auto;
}

#landing-btn {
    background-color: #A7EBDC;
    padding: 10px 15px;
    text-decoration: none;
    color: #2B3256;
    font-family: 'Exo',sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

#landing-btn:hover {
    background-color: #2B3256;
    color:#A7EBDC;
    border: 1px solid #A7EBDC;
}


/* For desktop/iPad screens (768px and bigger) */
@media screen and (min-width:768px) {
    #landing-text {
        font-size: 100px;
    }

    #landing-pg {
        background: url('../images/hero-image-desktop2.png') center center / cover no-repeat fixed;
    }
}


/*---------------------- Header ----------------------------------------- */

header{
    width: 100vw;
}

.navbar {
    padding-left: 30px;
    padding-right: 30px;
    width: 100vw;
}
/* Setting navbar color */
nav.navbar-bg {
    background-color: #2B3256;
}
/* Styling logo */
#brand-word {
    font-family: 'neon-stream',sans-serif;
    font-size: 30px;
    color: #A7EBDC;    
    text-decoration: none;
}
/* Using Bootstrap id and flexbox to align items right */
#navbarSupportedContent {
    justify-content: flex-end;
}

.nav-item {
    margin-left: 40px;
    font-family: 'Exo',sans-serif;
    font-size: 17px;
    font-weight: 300;
    text-transform: uppercase;
}

.navbar-nav .nav-item .nav-link {
    color: #A7EBDC;
    border-bottom: 0.5px solid #A7EBDC;
    padding: 10px 0;

    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

/* Hover effects, classes taken to re-write Bootstrap hover effect */
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 0.5px solid #A7EBDC;
    color: #A7EBDC;
    transform: scale(1.1);
}

.navbar-light .navbar-toggler {
    border: none;
    box-shadow: none;
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('../images/hamburger.svg');
}
/* To counteract inline default padding of 40px */
ul {
    padding-right:40px;
}

ul.navbar-nav {
    text-align: center;
    justify-content: center;
}


#active-page-link {
    font-size: 20px;
    font-weight: 400;
}
/* Desktop view styling */
@media screen and (min-width:768px) {
    .navbar {
        padding-left: 50px;
        padding-right: 50px;
    }

    .navbar-nav .nav-item .nav-link {
        padding: 8px 0 4px;
        border-bottom: 0.5px solid #2B3256;
    }

    #active-page-link {
        font-size: 17px;
        font-weight: 400;
        border-bottom: 1px solid #A7EBDC;
    }
    ul {
        padding-right: 0;
    }
}

/*---------------------- Footer ----------------------------------------- */

footer {
    width: 100%;
}

/* Since footer top margin is set to auto, I'm adding negative margins to cancel out the space */
.home-page-banner + main, .entertained-banner + main {
    margin-bottom: -200px;
}
 .informed-banner + main {
     margin-bottom: -100px;
 }

/* Styling footers that have different backgrounds */
.footer-decorated {
    padding-top: 200px;
    margin-top: -200px;
    background-image: url('../images/footer-bg-mobile2.png');
    background-repeat: no-repeat;
    background-size: 102% 30%;
    background-position: bottom 20px left 0;
}


.footer-ent {
    background-color:#A7EBDC;
}

#footer-nav {
    background-color: #2B3256;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-link {
    display: inline-block;
    color: #A7EBDC;
    font-weight: 300;
    padding: 8px 0 0;
    border-bottom: 0.5px solid #2B3256;
    font-family: 'Exo', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;

    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.footer-link:hover {
    color: #A7EBDC;
    text-decoration: none;
    transform: scale(1.2);

}
/* adding styling to the text links */
.footer-item-nav:hover {
    border-bottom-color: #A7EBDC;
    transform: scale(1.1);
}

.footer-item-social {
    padding: 4px 0 0;
}

.footer-item-social i {
    font-size: 20px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #A7EBDC;
    text-align: center;
    color: #2B3256;
    padding-top: 5px;
}
/* Styling Git icon separately as it is already shaped as a cirlce */
footer nav a:nth-of-type(4) i {
    font-size: 31px;
    text-align: center;
    color: #A7EBDC;
    padding-top: 0;
    background-color: #2B3256;
}

/* styling 'about' and 'contact' collapsable sections */

div#about-modal, div#contact-modal {
    background-color:rgba(227, 241, 242, .2)
}

div.modal-content {
    background-color:#2B3156;
    font-family: 'Exo', sans-serif;
    color:#A7EBDC;
    font-size: 20px;
    line-height: 1.7;
}

button.close span {
    color:#C76D6D;
    text-shadow: none;
    font-family: sans-serif;
    font-size: 2.5rem;
}
button.close {
    opacity: 1;
    padding-top: 0.5rem;
}

button.close:focus {
    outline: none;
}

#contact-modal .modal-header .close {
    margin-left: 10px;
}

.modal-header h5 {
    font-size: 20px;
}

form {
    width: 100%;
    max-width: 400px;
}

label {
    font-size: 17px;
    text-align: left;
    margin-top: 5px;
    display: block;
}

#submit-button {
    color:#A7EBDC;
    border: 0.5px solid #A7EBDC;
    border-radius: 5px;
    background-color: #2B3256;
    margin: 15px auto;
    display: block;
    padding: 5px;

}

#submit-button:hover {
    color: #2B3256;
    background-color: #A7EBDC;
}

/* desktop styles */

@media screen and (min-width:576px){
    #footer-nav {
        justify-content: flex-end;
    }
    .footer-link {
        margin: 0 30px;
    }
    .footer-item-social {
        margin: 0 15px;
    }
    .modal-dialog {
        max-width: 600px;
    }

    .modal-header h5 {
        font-size: 25px;
        padding-left: 58px
    }
}

@media screen and (min-width:768px) {
    .footer-decorated {
        padding-top: 200px;
        background-image: url('../images/footer-bkg-desktop.png');
        background-position: bottom 50px left 0;
        background-size: 102% 40%;
    }
    .modal-dialog {
        max-width: 700px;
    }
    /* .arrow-toggle {
        display: none;
    } */
}



/*---------------------- Page image banners ----------------------------------------- */

.picture-heading-banner {
    width: 100%;
    height: 60vw;
    background-position: top 0px left 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.picture-heading-banner div {
    align-self: center;
}

#mars-link {
    color:#2B3256;
    text-decoration: underline;
}

#mars-link:hover {
    color:#C76D6D;
}

.banner-heading {
    font-family: 'neon-stream', sans-serif;
    font-size: 10vw;
    color:#2B3256;
}

.happy-banner {
    background-image: url('../images/head-banners/happy-mobile.png');
}

.entertained-banner {
       background-image: url('../images/head-banners/entertained-mobile.png'); 
}

.active-banner {
       background-image: url('../images/head-banners/active-mobile.png'); 
}

.informed-banner {
       background-image: url('../images/head-banners/informed-mobile.png'); 
}

@media screen and (min-width:768px) {
    .happy-banner {
      background-image: url('../images/head-banners/happy-desktop.png');
    }
    .entertained-banner {
        background-image: url('../images/head-banners/entertained-desktop.png'); 
    }
    .active-banner {
        background-image: url('../images/head-banners/active-desktop.png'); 
    } 
    .informed-banner {
        background-image: url('../images/head-banners/informed-desktop.png'); 
    }       
    .picture-heading-banner {
        height: 35vw;
        background-position: top 60px left 0px;
        } 
}

/*---------------------- Top and bottom sections' comon styles ----------------------------------------- */

.top-section {
    background-image: url('../images/head-banners/page-banner-deco-desktop.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: scroll;
    margin-top: -25px;
    padding-bottom: 100px;
}

.section-heading {
    margin-bottom: 40px;
    text-align: center;
    font-family: 'PT Serif',serif;
    font-size: 45px;
    font-weight: 700;
}

.top-section .section-heading {
    padding-top: 100px;
    color:#C76D6D;
}

.bottom-section .section-heading {
    padding-top: 50px;
}

.section-description {
    padding: 0 5%;
    font-family: 'Exo',sans-serif;
    font-size: 20px;
    text-align: center;
}

@media screen and (min-width:576px) {
    .section-description {
        font-size: 25px;
    }
}

@media screen and (min-width:768px) {
    .top-section {
        margin-top: -40px;
    }
    .section-description {
        font-size: 30px;
    }
}

@media screen and (min-width:992px) {
    .top-section {
        margin-top: -95px;
    }
}
/*---------------------- Home Page ----------------------------------------- */

/* Home Page Banner Section */
.home-page-banner {
    /* height: 100vh; */
    margin-top: 20px;
    color: #A7EBDC;
    background-image: url('../images/banner-bkg-mobile.png');
    background-repeat: no-repeat;
    background-size: 100vw 100%;
}

.home-page-banner-txt {
    text-align: center;
    margin: 0 auto 50px;
    padding: 0 10%;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
}
/* 
Removing default padding associated with col */
div.col.home-page-banner-img {
    padding: 0;
}

.home-page-banner-txt h1 {
    font-family: 'neon-stream', sans-serif;
    font-size: 70px;
}

.home-page-banner-txt span {
    color:#C76D6D;
}

.home-page-banner-img img{
    width: 100vw;
    margin: 50px 0;
}

 @media screen and (min-width:992px)   {
    .home-page-banner-txt {
        font-size: 25px;
    }
 }  

@media screen and (min-width:768px) {
    .home-page-banner {
        margin-top: 50px;
        padding-bottom: 65px;
        background-image: url('../images/banner-bkg-desktop.png');
        background-size: 102% 100%;
    }
    
    .home-page-banner-img img{
        width: 50vw;
    }
}

/* Home Page bottom article sections */
.home-page-section {
    margin: 10px auto 100px;
    color: #2B3256;
}

.home-page-bubble {
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
}

 .bubble-left {
    background-image: url('../images/home/speech-shape-left.svg');
    background-position: left 0%;
    padding-left: 0;
 }

.bubble-right {
    background-image: url('../images/home/speech-shape-right.svg');
    background-position: right 0%;
 }


#home-page-section-last {
    margin-bottom: 200px;
}

.home-page-bubble h2 {
    font-family: 'PT Serif',serif;
    font-size: 80px;
    font-weight: 700;
    position: absolute;
    margin: auto;
}

.bubble-left h2 {
    left: 1vw;
    top: 110px;
}

.bubble-right h2 {
    right: 1vw;
}

h2.heading-entertained {
    font-size: 45px;
    top: 127.5px;
}

h2.heading-informed {
    font-size: 60px;
    top: 110px;
}


.home-page-article {
    font-size: 25px;
    font-family: 'Exo',sans-serif;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

.home-page-explore-button {
    display: block;
    margin: 20px auto 0;
    background-color: #2B3256;
    border-radius: 5px;
    border: none;
    color: #C76D6D;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 2.5;
    width: 105px;
}

.home-page-explore-button:hover {
    background-color: #C76D6D;
    color: #2B3256;
    text-decoration: none;
}


@media screen and (min-width:576px) {
    .home-page-bubble {
        height: 400px;
    }
    .bubble-left h2 {
        top: 140px;
        font-size: 100px;
    }
    h2.heading-entertained {
        font-size: 60px;
        top: 160px;
    }
    h2.heading-informed {
        font-size: 75px;
        top: 160px;
    }
}

@media screen and (min-width:768px) {
    .article-right {
        padding-right: 25px;
    }
    .article-left {
        padding-left: 25px;
    }

    .home-page-section{
        margin-bottom: 50px;
    }
    h2.heading-entertained {
        font-size: 60px;
        top: 160px;
    }
}

@media screen and (min-width:992px)   {
    .home-page-bubble {
        height: 500px;
    }
    .home-page-bubble h2 {
        font-size: 130px;
        top: 170px;
    }
    .home-page-article {
        font-size: 30px;
    }
    h2.heading-entertained {
        font-size: 75px;
        top: 200px;
    }
    h2.heading-informed {
        font-size: 90px;
        top: 190px;
    }

} 

@media screen and (min-width:1200px)   {
    .home-page-bubble {
        height: 600px;
    }
    .home-page-bubble h2 {
        font-size: 150px;
        top: 200px;
    }
    .home-page-article {
        font-size: 33px;
    }
    h2.heading-entertained {
        font-size: 90px;
        top: 250px;
    }
    h2.heading-informed {
        font-size: 110px;
        top: 230px;
    }    
} 

/*---------------------- Happy Page ----------------------------------------- */

/* Top section with cute animal pictures */
div#carouselExampleIndicators.carousel.slide {
    width: 100%;
    margin: 20px auto;
}

span.carousel-control-prev-icon {
    background-image: url('../images/happy/icon-prev.png');
    height: 40px;
}

span.carousel-control-next-icon {
    background-image: url('../images/happy/icon-next.png');
    height: 40px;
}

.carousel-indicators li {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color:#C76D6D;
    border: 0.5px solid #E3F1F2;
}

@media screen and (min-width:576px) {
    div#carouselExampleIndicators.carousel.slide {
        width: 70%;
    }
    a.carousel-control-prev {
        left: -15%;
    }
    a.carousel-control-next {
        right: -15%;
    }
}

@media screen and (min-width:992px) {
    div#carouselExampleIndicators.carousel.slide {
        width: 50%;
    }
}

/* Bottom section, good news stories */

.happy-page-bottom-section {
    padding: 80px 0px 0px;
    background-image: url('../images/footer-bg-mobile2.png');
    background-repeat: no-repeat;
    background-size: 101% 85px;
    background-position: top center;
}

.happy-page-bottom-section div.row {
       background-color:#2B3256; 
       width: 100%;
       background-clip: border-box;
       margin-right: 0;
       margin-left:0;
       margin-bottom: -2px;
       padding: 0 30px 0;
}

.happy-page-bottom-section .asterisk {
    color:#A7EBDC;
}

.happy-page-bottom-section .section-heading, .happy-page-bottom-section .section-description {
    color:#A7EBDC;
}


.happy-page-bottom-section div.card-body {
    background-color:#E3F1F2;
}

.happy-page-bottom-section div.good-news-item {
    padding-top: 50px;
}

.card-heading {
 text-align: center;
 font-family: 'PT Serif',serif;
 font-size: 20px;
}

.bottom-section p.card-text {
    font-family: 'Exo',sans-serif;
    font-size: 15px;
    text-align: justify;
}

@media screen and (min-width:576px) {
        .happy-page-bottom-section {
            padding: 90px 0px 0px;
            background-image: url('../images/footer-bkg-desktop.png');
            background-size: 101% 95px;
        }
}

@media screen and (min-width:768px) {
        .happy-page-bottom-section {
            padding: 100px 0px 0px;
            background-size: 101% 105px;
        }
}

@media screen and (min-width:992px) {
    .happy-page-bottom-section {
        padding: 150px 0px 0px;
        background-size: 101% 155px;
    }
}

/*---------------------- Entertained Page ----------------------------------------- */

/* common article styles */


.entertained-page-top-section .section-description {
    margin-bottom:100px;
}

.entertained-page-article {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    padding-top: 100px;
    padding-bottom: 150px;
    margin-top: -100px;
}

.entertained-page-article img {
    width: 100%;
    padding: 20px;
    min-width: 260px;
    max-width: 350px;
    margin: 0 auto;
}


.entertained-article-text {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.entertained-article-image {
    text-align: center;
}

.entertained-page-article h3 {
    font-family: 'PT Serif', serif;
    font-size: 35px;
}

.entertained-article-text p {
    font-family: 'Exo', sans-serif;
    font-size: 15px;
    padding: 0 2%;
}



/* individual article styles */
#article-geocaching {
    color:#C76D6D;
    background-image: url('../images/entertained/bg-geocaching-desktop.png'),
    linear-gradient(#E3F1F2 5%, #C7C7C7 0%);
}
#article-houseparty {
    color:#2B3156;
    background-image: url('../images/entertained/bg-houseparty-desktop.png'),
    linear-gradient(#C7C7C7 5%, #C76D6D 0%);
}
#article-stargazing {
    color:#A7EBDC;
    background-image: url('../images/entertained/bg-stargazing-desktop.png'),
    linear-gradient(#C76D6D 5%, #2B3156 0%);
}
#article-tv {
    color:#A034B9FC;
    background-image: url('../images/entertained/bg-tv-desktop.png'),
    linear-gradient(#2B3156 5%, #F2E871 0%);
}
#article-mars {
    color:#2B3156;
    background-image: url('../images/entertained/bg-mars-desktop.png'),
    linear-gradient(#F2E871 5%, #C7C7C7 0%);
}
#article-tiktok {
    color:#C7C7C7;
    background-image: url('../images/entertained/bg-tiktok-desktop.png'),
    linear-gradient(#C7C7C7 5%, #A034B9FC 0%);
}
#article-skill {
    color:#2B3156;
    background-image: url('../images/entertained/bg-skill-desktop.png'),
    linear-gradient(#A034B9FC 5%, #A7EBDC 0%);
}


@media screen and (min-width:768px) {
    .entertained-page-article {
        background-size: cover;
    }
    #article-geocaching {
        background-image: url('../images/entertained/bg-geocaching-desktop.png'),
        linear-gradient(#E3F1F2 10%, #C7C7C7 0%);
    }
    #article-houseparty {
        background-image: url('../images/entertained/bg-houseparty-desktop.png'),
        linear-gradient(#C7C7C7 10%, #C76D6D 0%);
    }
}

@media screen and (min-width:992px) {
    .entertained-article-text p {
        font-family: 'Exo', sans-serif;
        font-size: 20px;
        padding: 0 7%;
    }   
}

/*---------------------- Active Page ----------------------------------------- */

.active-page-bottom-section {
    padding: 80px 0 0;
    background-image: url('../images/footer-bg-mobile2.png');
    background-repeat: no-repeat;
    background-size: 101% 85px;
    background-position: top center;
}

.active-page-bottom-section .row {
    background-color:#2B3256;
    width: 100%;      
    padding-top: 30px;
    margin-bottom: -1px;
}


.active-page-bottom-section img {
    max-width: 90%;
    width: 300px;
}

.active-page-bottom-section h3 {
    font-family: 'PT Serif', serif;
    color:#C76D6D;
    font-size: 40px;
    margin-bottom: 10%;
}

.active-page-bottom-section p {
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    color:#A7EBDC;
}

.active-page-bottom-section hr {
    border: 0;
    background-color:#A7EBDC;
    height: 1px;
    width: 70%;
}

.entertained-page-item {
    margin-top: 15%;
    margin-bottom: 15%;
}

.progress-list {
    font-family: 'Exo', sans-serif;
    font-size: 22px;
    color:#A7EBDC;
    width: 220px;
}

.activity-list {
    list-style-position: inside;
}

.activity-list a {
    font-family: 'Exo', sans-serif;
    font-size: 22px;
    color:#A7EBDC;
    text-decoration: underline;
}

.activity-list a:hover {
    color:#C76D6D;
}

.activity-list li::before {
    content: " ";
    height: 10px;
    width: 10px;
    background:#C76D6D;
    border-radius: 50%;
    display: inline-block;
    margin-right:10px;
    vertical-align: middle;
}

.progress-list {
    list-style: none;
    text-align: right;
}

.progress-list li{
    text-align: right;
    /* padding-right: 20vw; */
    /* margin-right: 10px; */
}

.progress-list img {
    width: 90px;
}

@media screen and (min-width:576px) {
    .active-page-bottom-section {
        padding: 90px 0px 0px;
        background-image: url('../images/footer-bkg-desktop.png');
        background-size: 101% 95px;
    }
}

@media screen and (min-width:768px) {
    .active-page-bottom-section {
        padding: 100px 0px 0px;
        background-size: 101% 105px;
    }
    .entertained-border-md {
        border-right: 1px solid #A7EBDC;
    }  
    .active-page-bottom-section p {
        height: 200px;
    } 
    .img-container {
        position: relative;
        height: 300px;
        max-height: 90%;
        max-width: 90%;
        width: 300px;
        margin: auto;
    }
    .active-page-bottom-section .img-container img {
        position: absolute;
        bottom: 0;
        left: 5%;
    }

}

@media screen and (min-width:992px) {
    .active-page-bottom-section {
        padding: 150px 0px 0px;
        background-size: 101% 155px;
    }
    .entertained-border-lg {
        border-right: 1px solid #A7EBDC;
    }
}


/*---------------------- Informed Page ----------------------------------------- */

.important-text-wrapper {
    border:#2B3156 3px solid;
}

.warning-sign {
    height: 70px;
    width: auto;
}

#informed-word-and {
    font-family: 'Exo', sans-serif;
    font-size: 25px;
}

.informed-info-boxes {
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color:#A7EBDC;
    width: 200px;
    background-color:#2B3256;
}

.important-text-wrapper .section-description a {
    color:#2B3256;
    text-decoration: underline;
}

.important-text-wrapper .section-description a:hover {
    color:#C76D6D;
}

.informed-page-bottom-section .section-heading {
    color:#C76D6D;
}

.informed-page-bottom-section div.card-body {
    background-color:#2B3256;
    padding-right: 0;
    padding-left: 0;
}

.informed-page-bottom-section h5.card-title {
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 25px;
    color:#F2E871;
}

.informed-page-bottom-section .card-text {
    padding-right: 0;
}

.informed-page-bottom-section ul {
    line-height: 30px;
}

.informed-page-bottom-section a {
    color:#A7EBDC;
    font-family: 'Exo', sans-serif;
    font-size: 1rem;
    border-bottom: 1px solid #A7EBDC;
}

.informed-page-bottom-section a:hover {
    color:#C76D6D;
    text-decoration: none;
    border-bottom: 0.5px solid #C76D6D;
}



@media screen and (min-width:768px) {
    .warning-sign {
        height: 100px;
    }
}
