 /*--------------------- Fonts --------------------------------------------- */

 @import url("https://use.typekit.net/luk6ots.css");
 @import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500&display=swap');


/*---------------------- Universal style accross all pages ----------------- */

body {
    margin: 0;
    background-color: #2B3256;
    font-family: sans-serif;
    font-size: 16px;
}

/*---------------------- Landing Page -------------------------------------- */

#landing-pg {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/hero-image-mobile.png') center center / cover no-repeat fixed;
}

#landing-pg-container {
    text-align: center;

}

#landing-text {
    font-family: 'neon-stream', sans-serif;
    font-size: 70px;
    color: #F2E871;
    text-shadow: 10px 10px 40px #EFEAE2D6;
    margin-bottom: 50px;
    margin-top: 20%; 
}


h1#landing-text::before, h1#landing-text::after {
    content: '';
    height: 0.07em;
    width: 70%;
    background-color: #A7EBDC;
    border-radius: 5px;
    display: block;
    margin: auto;
}

#landing-btn {
    background-color: #A7EBDC;
    padding: 10px 15px;
    text-decoration: none;
    color: #2B3256;
    font-family: 'exo',sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

#landing-btn:hover {
    background-color: #2B3256;
    color:#A7EBDC;
    border: 1px solid #A7EBDC;
}


/* For desktop/iPad screens (768px and bigger) */
@media screen and (min-width:768px) {
    #landing-text {
        font-size: 100px;
    }

    #landing-pg {
        background: url('../images/hero-image-desktop2.png') center center / cover no-repeat fixed;
    }
}


/*---------------------- Header ----------------------------------------- */

.navbar {
    padding-left: 30px;
    padding-right: 30px;
}
/* Setting navbar color */
nav.navbar-bg {
    background-color: #2B3256;
}
/* Styling logo */
#brand-word {
    font-family: 'neon-stream',sans-serif;
    font-size: 30px;
    color: #A7EBDC;    
    text-decoration: none;
}
/* Using Bootstrap id and flexbox to align items right */
#navbarSupportedContent {
    justify-content: flex-end;
}

.nav-item {
    margin-left: 40px;
    font-family: 'exo',sans-serif;
    font-size: 17px;
    font-weight: 300;
    text-transform: uppercase;
}

.navbar-nav .nav-item .nav-link {
    color: #A7EBDC;
    border-bottom: 0.5px solid #A7EBDC;
    padding: 10px 0;

    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

/* Hover effects, classes taken to re-write Bootstrap hover effect */
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 0.5px solid #A7EBDC;
    color: #A7EBDC;
    transform: scale(1.1);
}

.navbar-light .navbar-toggler {
    border: none;
    box-shadow: none;
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('../images/hamburger.svg');
}
/* To counteract inline default padding of 40px */
ul {
    padding-right:40px;
}

ul.navbar-nav {
    text-align: center;
    justify-content: center;
}


#active-page-link {
    font-size: 20px;
    font-weight: 400;
}
/* Desktop view styling */
@media screen and (min-width:768px) {
    .navbar {
        padding-left: 50px;
        padding-right: 50px;
    }

    .navbar-nav .nav-item .nav-link {
        padding: 8px 0 4px;
        border-bottom: 0.5px solid #2B3256;
    }

    #active-page-link {
        font-size: 17px;
        font-weight: 400;
        border-bottom: 1px solid #A7EBDC;
    }
}

    